*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
 body{
    background-color: #eceaea;
} 
.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* Estilo do header */
header{
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* fica no topo, mas abaixo de elementos com z-index maior */
    transition: .5s;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 160px;
}

/* estilo do menu dinamico */

header .logo img.logo-rolagem{
    display: none;
}

header.rolar{
    background-color: #020791;
    padding: 5px 0;
    box-shadow: 0 0 8px #00000062;
}


/* -------------------------- */

header .menu-desktop nav ul{
    list-style-type: none;
}
header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}
header .menu-desktop nav ul li a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    position: relative; /* ESSENCIAL */
    font-size: 15px;
}
header .menu-desktop nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 238, 0); /* Cor da linha */
    transition: width 0.3s ease;
}
.menu-desktop a:hover:after{
    width: 100%;
}
.menu-desktop nav a:hover{
    transform: scale(1.05);
}
header .btn-whatsapp button{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
    transition: all 0.3s ease;
}
header .btn-whatsapp button img:hover{
    border-radius: 12px;
    transform: translateY(-6px);
    box-shadow: 4px 6px 30px rgba(255, 238, 0, 0.664);
}

/* Estilo menu-mobile */
header .btn-menu-mobile {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    position: relative;
    z-index: 999999999;
  }
  
  header .btn-menu-mobile div {
    background-color: aliceblue;
    height: 4px;
    margin: 5px 0;
    border-radius: 2px;
    transition: .3s;
  }
  
  header .btn-menu-mobile .line-menumob-1 {
    width: 30px;
  }
  
  header .btn-menu-mobile .line-menumob-2 {
    width: 20px;
  }
header .btn-menu-mobile .line-menumob-1.ativo1{
    transform: rotate(45deg) translate(33%);
}
header .btn-menu-mobile .line-menumob-2.ativo2{
    transform: rotate(-45deg) translate(33%);
    width: 30px;
}

/* Estilo menu-mobile 2 */
header .menu-mobile{
    width: 0;
    height: 0;
    background-color: #020791;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;
}
header .menu-mobile nav{
    width: 100%;
}
header .menu-mobile nav ul{
    list-style-type: none;
}
header .menu-mobile nav ul a{
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
    padding: 20px 0;
    display: block;
    transition: .5s;
}
header .menu-mobile nav ul a:hover{
    background-color: aliceblue;
    color: #020691;
    box-shadow: 0 0 20px aliceblue;
}
header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}
body.no-overflow{
    overflow: hidden;
}

/* Estilo do hero-site */
section.hero-site{
    height: 100vh;
    background-image: url(../images/banner\ fundo\ \ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;

}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 200;
    margin-top: 120px;
}

.hero-site .txt-hero h1 span{
    display: block;
    color: aliceblue;
}

.hero-site .txt-hero p{
    font-size: 25px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span{
    display: block;
    color: aliceblue;
}

.hero-site button{
    background-image: url(../images/44faa437c76ef8e8f063fed96769d84d.png);
    background-position: center;
    width: 300px;
    height: 60px;
    border-radius: 12px;
    font-size: 24px;
    color: #020691;
    cursor: pointer;
    transition: 0.5s;
}
.hero-site button:hover {
    background-position: right center; 
    transform: scale(1.05); 
  }


/* Estilos Beneficios 1 */
section.beneficios1{
    padding: 80px 0;
    text-align:justify;
}
section.beneficios1 .interface h2{
    text-align: center;
    padding: 35px 0;
    color: #020691;
    font-size: 40px;
}
section.beneficios1 .interface h2 span{
    background-color:rgba(250, 213, 6, 0.438);
    color:#020691 ;
    padding: 0 4px;
    border-radius: 4px;
    font-weight: 600;
}
.beneficios1 .itens-container {
    margin: 40px auto;           /* centraliza horizontalmente */
    max-width: 1000px;           /* largura máxima */
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 40px ;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    padding: 60px;
    background-color: #020691;

}
.beneficios1 .itens-container:hover {
    transform: translateY(-6px);
    box-shadow: 4px 6px 30px rgba(0, 0, 0, 0.2);
  }
.beneficios1 .icone-itens i {
    color: aliceblue;
    font-size: 120px;
    margin-bottom: 20px;
    transition: transform 0.4s ease, filter 0.3s ease;
  }

.beneficios1 .itens-container:hover .icone-itens i {
    transform: rotate(360deg);
    filter: drop-shadow(0 4px 8px rgba(250, 213, 6, 0.5));
  }
.itens-container .txt-itens h3{
    font-size: 2.5em;
    line-height: 50px;
    margin-bottom: 20px;
    color:  rgba(250, 213, 6, 0.801);

}
.itens-container .txt-itens h3 span{
    font-weight: 300;
    color:#f4f4f4 ;
}
.itens-container .txt-itens p{
    font-size: 1.5em;
    color:#f4f4f4;
}
.cta {
    text-align: center;
  }
  
  .cta p {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #020691;
  }
  
  .cta .destaque {
    background-color:rgba(250, 213, 6, 0.438);
    color:#020691 ;
    padding: 0 4px;
    border-radius: 4px;
    font-weight: 600;
  }
  
  .btn-registrar {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #020691;
    color:  rgba(250, 213, 6, 0.808);
    padding: 16px 32px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 90, 53, 0.3);
    transition: all 0.3s ease;
  }
  
  .btn-registrar:hover {
    background-color: #020691;
    transform: scale(1.05);
  }

/* card beneficios */
.sessao-beneficios {
    padding: 60px 20px;
    background: #f5f5f5;
    text-align: center;
    color:#020691;
  }

  
.cards-beneficios {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
.titulo-com-imagem {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre texto e imagem */
  }
  
  .titulo-com-imagem img {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    height: auto;
    max-width: 300px;
  }
  .card {
    background: white;
    border-radius: 10px;
    width: 100%;
    max-width: 750px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .card-header {
    color:aliceblue;
    padding: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
  }
  .card:hover{
    transform: translateY(-6px);
    box-shadow: 4px 6px 30px rgba(0, 0, 0, 0.2);
  }
  
  .verde-escuro {
    background:#020691;
  }
  
  .card ul {
    text-align:center;
    padding: 20px;
    font-size: 1.5rem;
    list-style:none;
    color: #020691;
  }
  
  .card ul li {
    margin-bottom: 12px;
  }
  .card ul li i{
    color:  rgba(250, 213, 6, 0.74);
  }
  .destaques {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10px;
    flex-wrap: wrap;
   
  }
  .destaques div:hover{
    transform: translateY(-6px);
    box-shadow: 4px 6px 30px rgba(0, 0, 0, 0);
  }
  
  .destaques div {
    font-size: 1.7rem;
    color:#020691;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .destaques strong {
    font-size: 4.5rem;
    color:rgba(250, 213, 6, 0.829);
  }
 
  .destaques-container {
    width: 100%;
    max-width: 700px;
    margin: 40px auto 0;
  }
  
  .destaques img {
    width: 100px;
    margin-bottom: 8px;
  }

/* imagens rolando */
.marcas-auto-scroll {
    overflow: hidden;
    white-space: nowrap;
    width: 100vw; /* ocupa toda a largura visível da tela */
  }
  
  .marcas-content {
    display: inline-flex;
    padding: 40px 0;
    gap: 50px;
    animation: rolagem 35s linear infinite;
  }
  
  .marcas-content img {
    height: 130px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 40px;
  }

.marcas-content img:hover{
    transform: scale(1.1); /* efeito ao passar o mouse */
}
  
  @keyframes rolagem {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }


/* Como funciona */
section.como-funciona{
    padding: 80px 0;
    background-image: url(/images/_banner\ fundo\ plenitude\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
    
}
.txt-funciona, .instrucoes{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}
.como-funciona .txt-funciona{
    position: sticky;
    top: 50%;
    padding-bottom: 38px;
}
.como-funciona .txt-funciona h3{
    font-size: 3em;
    line-height: 60px;
    font-weight: 300;
    color:aliceblue;
}
.como-funciona .txt-funciona h3 span{
    display: block;
    font-weight: 600;
}
.instrucoes .instru-box{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 5px solid aliceblue;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.instrucoes .instru-box:hover{
    transform: scale(1.1); /* efeito ao passar o mouse */
}
.instrucoes .instru-box img{
    max-width: 150px;
}
.instrucoes .instru-box h4{
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 10px;
    color: aliceblue;

}
.instrucoes .instru-box h4 span{
    color:aliceblue ;
    padding: 0 4px;
    border-radius: 4px;
    font-weight: 600;
}

/* Sobre */
.sobre {
    position: relative;
    background-color: #020691 ; /* fundo da seção */
    padding: 80px 0;
    z-index: 6;
    overflow: visible; /* permite exibir o ::before acima */
    background-image:url(/images/_banner\ fundo\ liso\ \ R\ 4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
  }
  
  /* Cria o corte inclinado usando o ::before */
  .sobre::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color:#020691; /* cor da seção anterior */
    transform: skewY(1.5deg); /* ângulo da inclinação */
    transform-origin: top left;
    z-index: -1;
  }
section.sobre .flex {
    display: flex;
    flex-direction: row-reverse; /* Inverte: imagem à direita, texto à esquerda */
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: rgb(91, 97, 97);
    flex: 1 1 500px; /* ocupa metade ou mais */
    color: white;
    max-width: 600px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #c89e11;
    display: block;
    font-size: 45px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    font-size: 1.1em;
}
.sobre .txt-sobre p span{
    color:  #c89e11;
    font-size: 1.2em;
}
.img-sobre {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}
.img-sobre img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

/* duvidas */
.contato-faq {
    background-color: #020691;
    padding: 80px 4%;
    color: white;
    background-image: url(/images/_banner\ fundo\ plenitude\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;
    
  }
  
  .contato-faq .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  
  .col-esquerda {
    flex: 1 1 55%;
    padding: 20px 10px;
  }
  
  .col-direita {
    flex: 1 1 40%;
    text-align: center;
  }
  .col-direita p{
    color: aliceblue;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 10px;
  }
  .col-direita p span{
    color: #c89e11;
    padding: 0 4px;
    border-radius: 4px;
    font-weight: 800;
  }
  
  .col-esquerda h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #c89e11;
    padding: 10px;
  }
  
  .col-esquerda p {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  
  .faq details {
    background-color: #020691;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .faq summary {
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.3rem;

  }
  
  .faq p {
    margin-top: 8px;
    color:#c89e11;
  }
  .faq2 p{
    margin-top: 8px;
    color: #f4f4f4;
  }
  
  .card-instagram {
    background-color: #fff;
    border-radius: 20px;
    padding: 0px;
    position: relative;
    overflow: visible; /* precisa permitir o botão sair */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

  }
  
  .card-instagram img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: block;
  }
.col-esquerda .imagem > img{
    width: 100%;
    height: auto;
    display: flex;
    max-width: 350px;
    padding: 20px 0;
    
}
  

  .btn-whatsapp2 {
    display: inline-block;
    background: linear-gradient(90deg, #f9cb4a, #c89e11);
    color: #020691;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 30px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .btn-whatsapp2:hover{
    background: linear-gradient(90deg, #f9cb4a, #c89e11);
    transform: scale(1.05);
  }
 /* Botão dentro da imagem */
.card-instagram .btn-instagram {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #f9cb4a, #c89e11);
    color: #020691;
    padding: 10px 24px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 5;
    transition: 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }
  
  .card-instagram .btn-instagram:hover {
    background: linear-gradient(90deg, #f9cb4a, #c89e11);
    transform: translateX(-50%) scale(1.05);
  }
  
.bottom-footer{
    border-top: 2px solid #fff;
  text-align: center;
  padding: 20px 0 10px;
  margin-top: 40px;
}

.bottom-footer p{
    color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    margin: 0;
}



